<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all" />
    <link rel="stylesheet" th:href="@{/css/login.css}" media="all" />
</head>
<body>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this" style="width: 30%">个人档案</li>
        <li  style="width: 30%">体检记录</li>
        <li style="width: 30%">就诊记录</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show" id="la1" >
            <form class="layui-form" action="" style="overflow: auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="name" name="name" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？" placeholder="请输入名字" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;性别</label>
                        <div class="layui-input-inline">
                            <select name="sex" lay-filter="sex"  lay-verify="required" id="sex">
                                <option value="">请选择性别</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;年龄</label>
                        <div class="layui-input-inline">
                            <input type="text" name="age" id="age" lay-verify="required" autocomplete="off" placeholder="请输入年龄" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;出生日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="birth"  class="layui-input" id="verifyDate" placeholder="yyyy年MM月dd日">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="identity" id="identity"  lay-verify="identity" placeholder="请输入身份证号码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;民族</label>
                        <div class="layui-input-inline">
                            <select name="nation" lay-filter="nation" lay-verify="required" id="nation">
                                <option value="">请选择民族</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;手机</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="phone" id="phone" lay-verify="required|phone" autocomplete="off" placeholder="请输入手机号码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="email" id="email" lay-verify="required|email" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">*&nbsp;籍贯</label>
                    <div class="layui-input-inline">
                        <select name="province" lay-filter="province" id="province" lay-verify="required">
                            <option value="">请选择省</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="city" lay-filter="city" id="city" disabled lay-verify="required">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="area" lay-filter="area" id="area" disabled lay-verify="required">
                            <option value="">请选择县/区</option>
                        </select>
                    </div>
                </div>


                <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">*&nbsp;工作单位</label>
                    <div class="layui-input-inline">
                        <input type="text" name="work" id="work" style="width: 513px" lay-verify="required" placeholder="请输入工作单位（没有就填无）" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline" style="margin-left: 323px">
                    <label class="layui-form-label">*&nbsp;文化程度</label>
                    <div class="layui-input-inline">
                        <select name="edu" lay-filter="edu"  lay-verify="required" id="edu">
                            <option value="">请选择受教育程度</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">*&nbsp;职业类型</label>
                    <div class="layui-input-inline">
                        <input type="text" name="profession" id="profession" lay-verify="required" placeholder="请输入职业类型" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

                <div class="layui-form-item">
                    <div class="layui-inline" >
                        <label class="layui-form-label">*&nbsp;婚姻状况</label>
                        <div class="layui-input-inline">
                            <select name="marital" lay-filter="marital" lay-verify="required" id="marital">
                                <option value="">请选择婚姻状况</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;医保卡号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="medicalnumber" id="medicalnumber" lay-verify="required" placeholder="请输入医保卡号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;既往病史</label>
                        <div class="layui-input-inline">
                            <input type="text" name="pre_history" id="pre_history" style="width:513px" lay-verify="required" placeholder="请输入既往病史（没有就填无）" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline"style="margin-left: 323px">
                        <label class="layui-form-label" >*&nbsp;药物过敏</label>
                        <div class="layui-input-inline">
                            <input type="text" name="drug_history" id="drug_history" style="width:513px" lay-verify="required" placeholder="请输入过敏药物（没有就填无）" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">*&nbsp;家族遗传史</label>
                        <div class="layui-input-inline">
                            <input type="text" name="family_history" id="family_history" style="width:513px" lay-verify="required" placeholder="请输入家族遗传史（没有就填无）" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <div class="layui-input-inline" style="width: 550px" id="blood">
                            <label class="layui-form-label">*&nbsp;血型</label>
                            <input type="radio" name="bloodtype" value="A型" title="A型" checked="">
                            <input type="radio" name="bloodtype" value="B型" title="B型">
                            <input type="radio" name="bloodtype" value="O型" title="O型" >
                            <input type="radio" name="bloodtype" value="AB型" title="AB型" >
                            <input type="radio" name="bloodtype" value="不详" title="不详" >
                        </div>
                    </div>

                    <div class="layui-input-inline" style="margin-left: 450px;width: 350px;">
                        <label class="layui-form-label">*&nbsp;RH阴性</label>
                        <div class="layui-input-block" id="rh">
                            <input type="radio" name="RHbloodtype" value="否" title="否" >
                            <input type="radio" name="RHbloodtype" value="是" title="是">
                            <input type="radio" name="RHbloodtype" value="不详" title="不详" checked="">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*&nbsp;支付方式</label>
                    <div class="layui-input-block" id="pay">
                        <input type="checkbox" name="paymed" value="1" lay-skin="primary" title="城镇职工基本医疗保险" checked="">
                        <input type="checkbox" name="paymed" value="2" lay-skin="primary" title="城镇居民基本医疗保险">
                        <input type="checkbox" name="paymed" value="3" lay-skin="primary" title="新型农村合作医疗">
                        <input type="checkbox" name="paymed" value="4" lay-skin="primary" title="贫困救助">
                        <input type="checkbox" name="paymed" value="5" lay-skin="primary" title="商业医疗保险">
                        <input type="checkbox" name="paymed" value="6" lay-skin="primary" title="全公费">
                        <input type="checkbox" name="paymed" value="7" lay-skin="primary" title="全自费">
                        <input type="checkbox" name="paymed" value="8" lay-skin="primary" title="其他">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">说明</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="description" id="description" class="layui-textarea"></textarea>
                    </div>
                </div>

            </form>
        </div>
        <div class="layui-tab-item" id="la2">
            <div class="layui-form selfArchives" id="peisRecord" >
                <table id="test2" class="layui-hide" lay-filter="demo1">
                </table>
            </div>
        </div>
        <div class="layui-tab-item" id="la3">
            <div class="layui-form selfArchives" id="treatmentRecord" >
                <table id="test3" class="layui-hide" lay-filter="demo1">
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/user/address.js"></script>
<script type="text/javascript" src="/js/user/self.js"></script>

</body>
</html>