<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all" />
    <link rel="stylesheet" th:href="@{/css/login.css}" media="all" />
</head>
<body>
<div >
    <blockquote class="layui-elem-quote news_search">
        <div class="layui-inline">
            <form class="layui-form" action="" method="post">
                <div class="layui-input-inline">
                    <input type="text" value="" placeholder="请输入身份证号进行查询" lay-verify="required|number" style="width: 300px;" class="layui-input search_input" id="search_input">
                </div>
                <!--            <button type="button" class="layui-btn layui-btn-radius">默认按钮</button>-->
                <button class="layui-btn search_btn" lay-submit lay-filter="search_btn" id="search_btn" style="width: 100px;margin-left: 15px" >查询</button>
            </form>

        </div>
    </blockquote>
</div>


<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <!--<li class="layui-this" style="width: 30%">挂号信息</li>-->
        <li class="layui-this" style="width: 45%">既往病史</li>
        <li style="width: 45%">就诊记录</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show" id="la1">
            <div style="width: 200px;
        height: 200px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;" id="msg1">
                <span style="font-size: 18px">请输入相关条件进行查询</span>
            </div>
            <div class="layui-form search" id="history" style="display: none">
                <table id="test" class="layui-hide" lay-filter="demo">
                </table>
            </div>
        </div>
        <div class="layui-tab-item" id="la2">
            <div style="width: 200px;
        height: 200px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;" id="msg2">
                <span style="font-size: 18px">请输入相关条件进行查询</span>
            </div>
            <div class="layui-form search" id="record" style="display: none" >
                <table id="test1" class="layui-hide" lay-filter="demo1">
                </table>
            </div>
        </div>
        <!--<div class="layui-tab-item" id="la3"></div>-->
    </div>
</div>

<form class="layui-form" action="" id="check" lay-filter="example" style="display: none;width:450px;margin-left: 50px;margin-top: 5px" >
    <div class="layui-form-item">
        <input id="id" type="hidden" name="id"/>
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" id="name" value="" lay-verify="required" autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">身份证号</label>
        <div class="layui-input-block">
            <input type="text" name="identity" id="identity" value=""  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">复诊</label>
        <div class="layui-input-block">
            <input type="radio" name="further_visit" value="0" title="需要" checked="">
            <input type="radio" name="further_visit" value="1" title="不需要">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">住院</label>
        <div class="layui-input-block">
            <input type="radio" name="in_hospital" value="0" title="需要" checked="">
            <input type="radio" name="in_hospital" value="1" title="不需要" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">主要症状</label>
        <div class="layui-input-block">
            <input  name="symptom" id="symptom" value="" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">医嘱</label>
        <div class="layui-input-block">
            <input  id="doctors_advice" name="doctors_advice"  value="" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

<!--    <div class="layui-form-item">-->
<!--        <div class="layui-input-block">-->
<!--            <button class="layui-btn" lay-submit="" lay-filter="drugSubmit">立即提交</button>-->
<!--            <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
<!--        </div>-->
<!--    </div>-->

</form>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="check">查看详情</a>
</script>
<!--<script type="text/html" id="msg">-->
<!--    <div style="width: 200px;-->
<!--        height: 200px;-->
<!--        position: absolute;-->
<!--        left: 0;-->
<!--        top: 0;-->
<!--        right: 0;-->
<!--        bottom: 0;-->
<!--        margin: auto;">-->
<!--        <span style="font-size: 18px">请输入相关条件进行查询</span>-->
<!--    </div>-->
<!--</script>-->



<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/visitmanager/search.js"></script>
</body>
</html>