<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.RoleDao">


    <select id="selectById" resultType="com.example.demo.pojo.Role">
        select * from lcw_role where id = #{roleid} limit 1;
    </select>
</mapper>